body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container header {
    font-size: 25px;
    font-weight: 500;
    border-left: 5px solid #0a6cdb;
    padding-left: 10px;
    color: #0a6cdb;
}

.container .form {
    display: none;
    margin-top: 20px;
}

.container .form.active {
    display: block;
}

.container .form .details {
    margin-bottom: 30px;
}

.container .form .details .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.container .form .details .fields {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container .form .details .fields .input-field {
    flex: 1 1 calc(33.333% - 20px);
    min-width: 250px;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input-field label {
    margin-bottom: 5px;
    font-weight: 500;
}

.input-field input, .input-field select {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

.input-field input:focus, .input-field select:focus {
    border-color: #0a6cdb;
}

.details.verification .subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.input-field-inline {
    display: flex;
    gap: 20px;
    width: 100%;
}

.input-field-inline .input-field {
    flex: 1 1 calc(50% - 20px);
    min-width: 250px;
}

.verification-divider {
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.verification-section:hover .verification-divider {
    background-color: #000;
}

.verification-section:hover .subtitle {
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.buttons .nextBtn, .buttons .submit, .buttons .backBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    padding: 0 20px;
    background-color: #0a6cdb;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons .nextBtn:hover, .buttons .submit:hover, .buttons .backBtn:hover {
    background-color: #054a8b;
}

@media (max-width: 768px) {
    .container .form .details .fields .input-field, .container .form .details .fields .input-field-inline .input-field {
        flex: 1 1 100%;
    }

    .buttons {
        flex-direction: column;
    }
}
