<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Select Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index3.css') }}">
</head>
<body>
    <div class="container">
        <h1>STORE DETAILS</h1>
        <div class="custom-select-wrapper">
            <div class="custom-select">
                <div class="custom-select-trigger">
                    <span>Select Column</span>
                    <div class="arrow"></div>
                </div>
                <div class="custom-options">
                    {% for column in columns %}
                        <div class="custom-option" data-value="{{ column[0] | lower }}">{{ column[0] }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index3.js') }}"></script>
</body>
</html>
